a,
a:focus,
a:hover {
  color: #fff;
}
html, 
body {
      background: url("../bg.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      margin: 10px;
      color: #fff;
      text-align: center;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #10FFD4;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: #10FFD4;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #10FFD4;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

  #home {padding: 20px 5px 600px 5px; color: #fff; }
  #about {padding: 10px 5px 10px 5px; color: #fff; background-color: white; }
  #schedule {padding: 10px 5px 10px 5px; color: #fff; background-color: black; }
  #speakers {padding: 10px 5px 10px 5px; color: #fff; background-color: #f1f1f1; }
  #location {padding: 10px 5px 10px 5px; color: #fff; background-color: black; }
  #contact {padding: 10px 5px 10px 5px; color: #fff; background-color: #6d001d; }

